<!doctype html>
<html>
<head>
    <title>API keys</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1>Ansök om API-nycklar</h1>
<form method="post" action="/register">
    <label for="email"><b>E-postadress</b></label>
    <input type="email" name="email" id="email" size="100"/>
    <p>
        <b>Önskade API:er</b><br/>
    {% for a in app_list %}
    <input type="checkbox" name="appid" value="{{ a.id }}">{{ a.description }}</input><br/>
    {% endfor %}
    </p>
    <input type="submit" value="Ansök">
</form>
</body>
</html>
