<!DOCTYPE html>
<html lang="se">
    <head>
        <meta charset="UTF-8">
        <title>Ogiltig länk</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="../static/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    </head>
    <body>
        <img src="{{ url_for('static', filename='images/jobtechdev_black.png') }}">
        <div class="container">
            <div class="form">
                <div class="header">

                        <h1>Ogiltig länk:</h1>
                        <hr>
                            <p>
                                API nyckeln länken är inte längre giltig.
                            </p>
                            <p>
                                Om du har registrerat API nyckeln med en specifik e-postadress, ange adressen här för att få en ny länk.

                            </p>
                            <div>
                                <form method="post" action="/retrieve_key">
                                    <label  for="email">E-mail</label>
                                    <br>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <p class="flashes">
                        {% for message in messages %}
                        {{ message }}
                        {% endfor %}
                        </p>
                    {% endif %}
                {% endwith %}
                                    <input class="style" type="email" id="email" name="email"/><br><br>
                                    <input type="hidden" name="ticket" value="{{ticket}}"/>
                                    <button type="submit" name="skicka" value="Apply">Submit</button>
                                    <button type="reset" >Reset</button>
                                </form>
                            </div>

                </div>  </div>
        </div>
    </body>
</html>
