<!DOCTYPE html>
<html lang="se">
<head>
    <meta charset="UTF-8">
    <title>Expired link</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<img src="../static/images/jobtechdev_white.png">
    <div class="style" align="center">
        <h1>Expired link</h1>
            <hr>
            <p>
                The API key link, you're trying to access is no longer avaliable.
            </p>
            <p>
                If you have a API key registered for the specified e-mail address, please, enter the e-mail address
                here to get a new link.

            </p>
            <div>
                <form method="post" action="/retrieve_key">
                    <label  for="email">E-mail</label>
                    <br>
                    <input class="style" type="email" id="email" name="email"/><br><br>
                    <input type="hidden" name="ticket" value="{{ticket}}"/>
                    <input type="submit" class="site-button outline white " value="Submit"/><br><br>
                    <input type="reset" class="site-button outline white style" value="Reset the form">
                </form>
            </div>
    </div>
</body>
</html>