<!doctype html>
<html>
<head>
    <title>API keys</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


</head>
<body>
    <img style="position: left" src="{{ url_for('static', filename='images/jobtechdev_white.png') }}">
    <div class="container">
        <div class="form">
            <div class="header">
                <h1>Apply for API key</h1>
                <hr >
                <p > This is where you apply for JobTech API keys</p>


                    <div>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <p class="flashes">
                        {% for message in messages %}
                        {{ message }}
                        {% endfor %}
                        </p>
                    {% endif %}
                {% endwith %}
                        <form method="post" action="/register">
                            <label for="email">E-mail</label>
                            <br>
                            <input class="style" type="email" name="email" placeholder="Your email (required)" required oninvalid="this.setCustomValidity('Please, enter your email')" oninput="setCustomValidity('')"  id="email"  /><br/>
                            <label for="name">Name</label>
                            <br>
                            <input class="style" type="text" name="name" placeholder="Your name (required)" required oninvalid="this.setCustomValidity('Please, enter your name')" oninput="setCustomValidity('')" id="name"/><br/>
                            <label for="surname">Surname</label>
                            <br>
                            <input class="style" type="text" name="surname" placeholder="Your surname (required)" required oninvalid="this.setCustomValidity('Please, enter your surname')" oninput="setCustomValidity('')"  id="surname"/><br/>
                            <label for="companyname">Company name</label>
                            <br>
                            <input class="style" type="text" name="companyname" placeholder="Name of your company (Optional)" id="companyname" /><br/>
                            <label for="applicationname">Application Name</label>
                            <br>
                            <input class="style" type="text" name="applicationname" placeholder="Name of application using the API (required)" id="applicationname" required oninvalid="this.setCustomValidity('Please, enter some kind of application name')" oninput="setCustomValidity('')" /><br/>
                            <label for="description">Description (please be brief)</label>
                            <br>
                            <textarea class="style" rows="4" cols="80" name="description"placeholder="Description of the application using the API"  id="description"></textarea><br/>

                            <h3 >Choose the APIs you want</h3>
                            
                            <div class="api">
                                <input type="checkbox" name="appid" value="3" id="appid">
                                <label for="appid">Job Search API</label><br/>
                                <input type="checkbox" name="appid" value="8" id="appid">
                                <label for="appid">JobTech Taxonomy API</label><br/>
                                <input type="checkbox" name="appid" value="16" id="appid">
                                <label for="appid">Job Search Bulk API</label><br/>
                           
                                 <input type="checkbox" name="approve_gdpr" value="1" id="approve_gdpr" required oninvalid="this.setCustomValidity('You must approve that provided data will be stored')" oninput="setCustomValidity('')" >
                                 <label for="approve_gdpr">By requesting the API Key, you are authorizing the data you are providing, <br>
                                                 will be stored as long as you have access to the API(s).</label><br/>
                                 <input type="checkbox" name="approve_license" value="1" id="approve_license" required oninvalid="this.setCustomValidity('You must approve the license agreement')" oninput="setCustomValidity('')" >
                                 <label for="approve_license">I approve your usage license.</label><br/>
                            </div>
                            <button type="submit" name="skicka" value="Apply">Submit </button>
                            <button type="reset">Reset </button>

                        </form>
                    </div>
                </div>
            </div>

    </div>
</body>

</html>
