<!doctype html>
<html>
<head>
    <title>Din API nyckel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <img src="{{ url_for('static', filename='images/jobtechdev_black.png') }}">
    <div class="container">
        <div class="row">
            <div class="mx-auto col-sm-12 col-md-8 col-lg-6 col-xl-6">
                <div class="form">
                    <div class="header">
                        <h1>Din API nyckel:</h1>
                        <hr>
                        <div id="box">
                            <code id="keystyle">{{ key }}</code>
                        </div>
                        <p>Förvara din API nyckel på en säker plats, denna sidan är bara tillgänglig i tio minuter.</p>

                        <p>Använd följande header när du gör en förfrågan mot API:et <code>api-key:{{key}}</code></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

