<!doctype html>
<html>
<head>
    <title>Your API key</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body bgcolor="black">
    <img src="{{ url_for('static', filename='images/jobtechdev_white.png') }}">
    <div class="container">
        <div class="form">
            <div class="header">
                <h1>This is your API key:</h1>
                <hr>
                <div style="margin: auto; width: 80%; border: 3px solid black; padding: 30px">
                <code style="font-size:2.8vw">{{ key }}</code>
            </div>
            <p>Copy your key to a safe place. This site is only avaliable for 10 minutes after your first visit.</p>

            <p>To get access to the API, enclose the header parameter <code>api-key:{{key}}</code> to your request.</p>
            </div>
        </div>
    </div>
</body>
</html>

