<!doctype html>
<html>
<head>
    <style>
        .modal-dialog{

        }
        .modal-body{
            height: 500px;

            overflow: auto;
        }
    </style>
    <title>API keys</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<body>
<img style="position: left" src="{{ url_for('static', filename='images/jobtechdev_white.png') }}">
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 mx-auto">
        <div class="form">
            <div class="header">

                <h2>INFORMATION FÖR ATT FÅ TILLGÅNG TILL TJÄNSTEN JOB SEARCH</h2>

                <p>  Arbetsförmedlingen har i uppdrag att förbättra arbetsmarknadens funktionssätt genom att effektivt sammanföra dem som söker arbete med dem som söker arbetskraft samt bidra till en hållbar och långsiktig sysselsättningsökning.
                    Arbetsförmedlingen har därmed utvecklat och tagit fram digitala verktyg och tjänster som syftar till att effektivisera och främja tillgången och användning av sysselsättningsrelaterad information och data som myndigheten förmedlar till allmänheten.</p>
                <p>Arbetsförmedlingen erbjuder tjänsten Job Search, en sökmotor som möjliggör för dig som utvecklar tjänster till slutanvändarsystem avsedda för bland annat hantering och förmedling av arbetsplatsannonser att inhämta uppgifter från Arbetsförmedlingens tjänst Platsbanken. I tjänsten Job Search ingår bland annat ett särskilt applikationsprogrammeringsgränssnitt (API) till tjänst Platsbanken.</p>
                <p>Information om Arbetsförmedlingens öppna API:er finns i vår utvecklingsportal: www.jobtechdev.se.
                    I utvecklingsportalen hittar du all information och dokumentation om bl.a. tjänsten Job Search, inklusive teknisk dokumentation och tjänstebeskrivning samt exempelkod.
                    Du hittar även de allmänna villkor, riktlinjer och instruktioner som gäller för tjänsten och för att för att få tillgång till det öppna API:et.</p>
                Så här behandlar vi dina <a href="https://arbetsformedlingen.se/om-webbplatsen/juridisk-information">personuppgifter</a> när du anmäler för att få tillgång till Arbetsförmedlingens tjänster och öppna API:er eller i övrigt kontaktar oss.

                <br>
                <br>
                <h3>Apply for API key</h3>

                <div>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <p class="flashes">
                        {% for message in messages %}
                        {{ message }}
                        {% endfor %}
                    </p>
                    {% endif %}
                    {% endwith %}
                    <form method="post" action="/register">
                        <label  for="email">E-mail</label>
                        <br>
                        <input class="form-control" class="form-control" type="email" name="email" placeholder="E-postadress (obligatorisk)" required oninvalid="this.setCustomValidity('Please, enter your email')" oninput="setCustomValidity('')"  id="email"  /><br/>
                        <label  for="name">Namn</label>
                        <br>
                        <input class="form-control" type="text" name="name" placeholder="Förnamn (obligatorisk)" required oninvalid="this.setCustomValidity('Please, enter your name')" oninput="setCustomValidity('')" id="name"/><br/>
                        <label for="surname">Efternamn</label>
                        <br>
                        <input class="form-control" type="text" name="surname" placeholder="Efternamn (obligatorisk)" required oninvalid="this.setCustomValidity('Please, enter your surname')" oninput="setCustomValidity('')"  id="surname"/><br/>
                        <label for="prio" >Företag eller privat:</label><br>

                        <select class="form-control" size="1" name="prioritet" id="prio"  >
                            <option value="no">Privat</option>
                            <option value="yes">Företag</option>
                        </select>
                        <br>
                        <label for="applicationname">Namn på din applikation/system </label>
                        <input class="form-control" type="text" name="applicationname" placeholder="Name of application using the API (required)" id="applicationname" required oninvalid="this.setCustomValidity('Please, enter some kind of application name')" oninput="setCustomValidity('')" /><br/>
                        <label for="description">Beskrivning av applikation/system avsedd användning av API:et</label>
                        <br>
                        <textarea class="form-control" rows="4" cols="80" name="description"placeholder="Description of the application using the API"  id="description"></textarea><br/>

                        <div class="form-group">
                            <label for="seeAnotherFieldGroup">Privat eller företag</label>
                            <select class="form-control" id="seeAnotherFieldGroup">
                                <option value="no">Företag</option>
                                <option value="yes">Privat!</option>
                            </select>
                        </div>
                        <div class="form-group" id="otherFieldGroupDiv">
                            <div class="row">
                                <div class="col-6">
                                    <label for="otherField1">Folkbokföringsadress</label>
                                    <input type="text" class="form-control w-100" id="otherField1">
                                </div>
                                <div class="col-6">
                                    <label for="otherField2">Telefonnummer</label>
                                    <input type="text" class="form-control w-100" id="otherField2">
                                </div>

                            </div>


                        </div>


                        <label for="companyname">Företags namn</label>
                        <br>
                        <input class="form-control" type="text" name="companyname" placeholder="Name of your company (Optional)" id="companyname" /><br/>



                        <h3 >Välj API</h3>

                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="appid" value="3" id="appid">
                                <label class="form-check-label" for="appid">Job Search API</label><br/>
                                <input class="form-check-input" type="checkbox" name="appid" value="8" id="appid">
                                <label class="form-check-label" for="appid">JobTech Taxonomy API</label><br/>
                                <input class="form-check-input" type="checkbox" name="appid" value="16" id="appid">
                                <label class="form-check-label" for="appid">Job Stream Bulk API</label><br/>

                                <input class="form-check-input" type="checkbox" name="approve_gdpr" value="1" id="approve_gdpr" required oninvalid="this.setCustomValidity('You must approve that provided data will be stored')" oninput="setCustomValidity('')" >
                                <label class="form-check-label"  for="approve_gdpr">By requesting the API Key, you are authorizing the data you are providing,
                                    will be stored as long as you have access to the API(s).</label><br/>
                                <input class="form-check-input" type="checkbox" name="approve_licence" value="1" id="approve_licence" required oninvalid="this.setCustomValidity('Du måste läsa och godkänna avtalet')" >

                                <label class="form-check-label" for="approve_licence"><p>I have read and I approve the <a class="btn-link" href="" data-toggle="modal" data-target="#licence">usage licence.</a></p></label><br/>
                            </div>

                        </div>
                        <button type="submit" name="skicka" value="Apply">Submit </button>
                        <button type="reset">Reset </button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="licence" tabindex="-1" role="dialog" aria-labelledby="licenceLable" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="licenceLable">ALLMÄNNA VILLKOR FÖR ANVÄNDNING AV TJÄNSTEN JOB SEARCH</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalLicence" onscroll="console.log(this.scrollTop);if(this.scrollTop+this.offsetHeight>=this.scrollHeight){$('#agree').removeAttr('disabled')}">
                <div class="format">


                    <h4>(Version 1.0 gäller från datum )</h4>
                    <h3>1. OM TJÄNSTEN JOB SEARCH    </h3>
                    <p>1.1.	Arbetsförmedlingen har i enlighet med förordningen (2007:1030) med instruktion för Arbetsförmedlingen till uppdrag att verka för att förbättra arbetsmarknadens funktionssätt genom att effektivt sammanföra dem som söker arbete med dem som söker arbetskraft samt bidra till en hållbar och långsiktig sysselsättningsökning.</p>
                    <p>1.2.	 Arbetsförmedlingen har tagit fram diverse digitala verktyg och tjänster, såsom Job Search, vilka syftar till att effektivisera och främja enskildas och näringslivets tillgång och användning av sysselsättningsrelaterad information och data som myndigheten förmedlar till allmänheten genom tjänsten Platsbanken.</p>

                    <p>1.3.	Arbetsförmedlingens tjänst Job Search är en sökmotor som möjliggör för användare, som vill utveckla egna produkter eller tjänster, att ansluta sig genom ett särskilt applikationsprogrammeringsgränssnitt till Arbetsförmedlingens tjänst Platsbanken i syfte att inhämta data och uppgifter från arbetsplatsannonser som tillgängliggörs för allmänheten.</p>
                    <p>1.4.	Tjänsten är primärt avsedd för användare som avser utveckla, bearbeta, förädla eller förmedla egna sysselsättningsrelaterade produkter eller tjänster. Tjänsten är även tillgänglig för enskilda som väljer att ansluta sig enligt villkoren nedan.  </p>

                    <h3>2. DEFINITIONER </h3>
                    <p>2.1.	I detta Avtal används följande beteckningar med nedan angivna betydelse.</p>
                    <ol class="p">
                        <li>Allmänna villkoren för Arbetsförmedlingens tjänst Platsbanken avser villkoren och krav för företag att publicera arbetsplatsannonser i Arbetsförmedlingens tjänst Platsbanken. Dessa allmänna villkor finns tillgängliga på Arbetsförmedlingens webbplats: www.arbetsformedlingen.se.</li>

                        <li>Ansluten användare avser användare av Job Search (beta) som anmälts och beretts tillgång till Tjänsten genom att ha tilldelats nycklar för API:et.</li>

                        <li>Avtalet avser dessa allmänna villkor med eventuella bilagor, särskilda villkor för API:et, Allmänna villkoren för Arbetsförmedlingens tjänst Platsbanken, och Arbetsförmedlingens vid var tid gällande policyhandlingar, riktlinjer och instruktioner för användning av Tjänsten och API:et.</li>

                        <li>API:et avser Arbetsförmedlingens öppna API för Tjänsten Job Search (beta). Med begreppet API menas applikationsprogrammeringsgränssnitt.</li>

                        <li>API-Innehåll avser den information och data som elektroniskt överförs till den Anslutna användarens system genom API:et i form av data och uppgifter från arbetsplatsannonser upplagda i Arbetsförmedlingens tjänst Platsbanken.</li>

                        <li>Creative Commons Erkännande-DelaLika (CC-BY-SA) avser särskilda licensvillkor som följer av den icke-statliga organisationen Creative Common. Licensvillkoren CC-BY-SA innebär:
                            <ol class="c">
                                <li>	att upphovsman till ett verk i API-innehållet ska erkännas i samband med att verket används, sprids, bearbetas, och</li>
                                <li>    att Arbetsförmedlingen tillåter Anslutna användare att bearbeta eller bygga vidare på verk som Arbetsförmedlingen fritt förfogar över.
                                    Anslutna användare som bearbetar och vidareanvänder Arbetsförmedlingens verk eller resultatet därav måste göra det under samma licens. Licensvillkoren CC-BY-SA finns tillgängliga på följande webbplats: https://creativecommons.org/licenses/by-sa/4.0/legalcode.</li>
                            </ol>
                        </li>
                        <li>Slutanvändarsystem avser den som genom API:et läser in API-innehåll för ändamålet att få tillgång till och använda sig av sysselsättningsrelaterad information och data som Arbetsförmedlingen förmedlar genom tjänsten Platsbanken.</li>

                        <li>Auditloggning avser loggning för att förebygga och utreda IT- och informationssäkerhetsincidenter (inbegripet även personuppgiftsincidenter). Säkerhetsloggar bevaras i upp till 90 dagar.</li>

                        <li>Utvecklingsportal avser Arbetsförmedlingens webbplats där information och dokumentation kring Arbetsförmedlingens öppna API:er för Tjänsten publiceras. Utvecklingsportalen nås genom länken: www.jobbtechdev.se.</li>

                        <li>Tjänstebeskrivning avser den kompletta beskrivningen av Tjänsten, API:et och API-innehållet som anges i Utvecklingsportalen.</li>

                    </ol>
                    <h3>3. TILLGÅNG TILL TJÄNSTEN OCH API:ET </h3>
                    <p>3.1.	För att få tillgång till Tjänsten måste användaren inkomma med en begäran om anslutning. Genom att begära anslutning till Tjänsten godkänner användaren Avtalet. Inkommen begäran om anslutning till Tjänsten anses utgöra allmän handling i enlighet med 2 kap. 3 § i tryckfrihetsförordningen (1949:105).</p>
                    <p>3.2.	I syfte att upprätthålla en hög grad av säkerhet och tillförlitlighet beträffande tillhandahållandet och nyttjandet av Tjänsten ska användaren i samband med anslutningen verifiera sin identitet genom att lämna korrekta uppgifter.</p>
                    <p>3.3.	Avtal gäller från och med att Ansluten användare accepterar Avtalet och samtycker till behandling av dennes personuppgifter och är giltigt så länge Ansluten användare använder Tjänsten, såvida inte Avtalet sägs upp i förtid i enlighet med villkoren i detta Avtal.</p>
                    <p>3.4.	Vid anslutning till Tjänsten bereds den Anslutna användaren tillgång till Tjänsten genom att tilldelas nycklar för API:et. Tjänsten och det öppna API:et som Ansluten användare bereds tillgång till får användas endast i enlighet med Avtalet och vid var tid gällande policyhandlingar och instruktioner för användning samt tillämpliga författningar och myndighetsbeslut.</p>
                    <p>3.5.	Arbetsförmedlingen tillhandahåller Tjänsten och tillhörande handlingar (inbegripet bl.a. teknisk information om Tjänsten och API:et) via Utvecklingsportalen. I Utvecklingsportalen kan användarna utforska dokumentationen för Tjänsten och API:et och se hur de används och fungerar.</p>

                    <h3>4. ARBETSFÖRMEDLINGENS ÅTAGANDEN</h3>
                    <p>4.1.	Arbetsförmedlingen har ett övergripande ansvar för att säkerställa att Anslutna användare som åtagit sig att följa Avtalet får ansluta sig till API:et. Arbetsförmedlingen ansvarar för att Tjänsten och API:et är utformat i enlighet med vid var tid gällande Tjänstebeskrivning.</p>
                    <p>4.2.	Arbetsförmedlingen ansvarar för kontroll av Anslutna användarens nyttjande av API:et för att säkerställa att denne följer de villkor och krav som framgår av Avtalet.</p>

                    <h3>5.	ANVÄNDNING AV TJÄNSTEN OCH API:ET</h3>
                    <p>5.1.	Ansluten användare får inte  använda API:et och API-innehållet för sådana ändamål som kan få en negativ påverkan på förtroendet för Arbetsförmedlingens verksamhet. Nyttjandet av API:et och API-innehållet får inte heller missbrukas på sådant sätt att det påverkar tillgängligheten för API:et, till exempel genom att överbelasta anslutningen.</p>
                    <p>5.2.	Ansluten användare ska, vid utformningen av sin produkt eller tjänst, sträva efter att underlätta för Slutanvändarsystemen att förhålla sig till gällande författningar och myndighetsbeslut samt Arbetsförmedlingens antagna riktlinjer och instruktioner för användning av Tjänsten, API:et och API-innehåll.</p>
                    <p>5.3.	Ansluten användare ska i sin produkt eller tjänst genomföra, sådana innehållskontroller som är nödvändiga eller som instrueras av Arbetsförmedlingen, på API-innehållet innan innehållet läses in till den egna system. Vid förekomsten av fel efter genomförd kontroll ska Ansluten användare i sin produkt eller tjänst uppmana Slutanvändarsystemet att korrigera förekommande fel innan underlaget läses in till den egna system</p>
                    <p>5.4.	Arbetsförmedlingen förbehåller sig rätten att vid behov komplettera detta avsnitt med ytterligare instruktioner för användning av API:et eller API-innehåll. Sådana kompletterande instruktioner kommer att tillgängliggöras för och kommuniceras till Anslutna användare genom Utvecklingsportalen.</p>

                    <h3>6. TEKNISKA KRAV OCH BEGRÄNSNINGAR</h3>
                    <p>6.1.	Ansluten användaren har inte rätt att använda API:et eller API-innehållet för produkter eller tjänster som riskerar att skada eller stå i strid med Arbetsförmedlingens verksamhet. Detta innebär bland annat att API:et och API-innehållet inte får användas för produkter eller tjänster som ger brister i IT och informationssäkerhetsskyddet eller står i strid med Avtalet eller bryter mot, eller uppmanar till brott mot, lagar och förordningar.</p>
                    <p>6.2.	Anslutna användare har inte rätt att på teknisk väg bereda sig obehörig tillgång till, störa eller avaktivera API:et. Detta innefattar, men är inte begränsat till, användning av virus, maskar, trojaner eller annan skadlig kod i API:et eller på den webbplats där API:et tillhandahålls.</p>
                    <p>6.3.	För att säkerställa och upprätthålla Tjänstens tillgänglighet och kvalitet förbinder sig Ansluten användare att följa och uppfylla Arbetsförmedlingens vid var tid gällande tekniska instruktioner och krav för Tjänsten. Den tekniska dokumentationen till Tjänsten tillhandahålls löpande på anvisad webbplats i Utvecklingsportalen.</p>
                    <p>6.4.	API-innehållet kan innehålla särskilda kategorier av personuppgifter (såsom information om fysiska personers medlemskap i fackförening) som betraktas som känsliga enligt gällande dataskyddslagstiftning. Ansluten användare får endast behandla sådana kategorier av personuppgifter i API-innehållet för sådana ändamål som är förenliga med Arbetsförmedlingens uppdrag i enlighet med förordningen (2007:1030) med instruktion för Arbetsförmedlingen och enligt Arbetsförmedlingens vid var tid gällande riktlinjer om behandling av personuppgifter i arbetsplatsannonser i tjänsten Platsbanken.</p>
                    <p>6.5.	Mottagandet av personuppgifter som överförs från Arbetsförmedlingens tekniska miljö till Ansluten användarens system ska ske i en teknisk miljö som fysiskt befinner sig inom EU- eller EES-området, samt efterleva Arbetsförmedlingens instruktioner avseende behandling av personuppgifter enligt Integritetspolicyn och gällande författningar.</p>
                    <p>6.6.	Anslutna användarens egna produkter och tjänster ska vara utformade så att endast angivet API-innehåll kan inhämtas för den egna produkt- och tjänsteutvecklingen. Inläsning av API-innehåll och utformning av egna produkter eller tjänster ska inte stå i strid med  villkoren i detta Avtal och Allmänna villkoren för Arbetsförmedlingens tjänst Platsbanken.</p>
                    <p>6.7.	Arbetsförmedlingen förbehåller sig rätten att tillfälligt begränsa tillgängligheten till API:et i den omfattning som är nödvändig på grund av utveckling, underhåll eller driftmässiga skäl. Arbetsförmedlingen ska sträva efter att minimera avbrottstiden och vidta åtgärder för att Anslutna användare ska vållas minsta möjliga skada.</p>

                    <h4>7. UPPLYSNINGSSKYLDIGHET OCH KONTROLL</h4>
                    <p>7.1.	Ansluten användare ska säkerställa att Slutanvändarsystem vid var tid informeras om följande:</p>
                    <ol class="p">
                        <li>vid tillhandahållande av Tjänsten samt därefter löpande, informera om förutsättningarna för att använda API:et och API-innehållet. I informationen ska följande punkter framhävas:</li>
                        <ol class="c">
                            <li>att API:et endast skapar en möjlighet för Slutanvändarsystem att få tillgång till sysselsättningsrelaterad information och data som Arbetsförmedlingen förmedlar genom Platsbanken;</li>
                            <li>att API-innehållet kan innehålla immaterialrättsligt skyddade verk och personuppgifter och tillämpliga begränsningar som följer av Avtalet avseende användning och behandling av API-innehåll; och</li>
                            <li>att API:et utnyttjar data och uppgifter som förmedlats genom Arbetsförmedlingens tjänster Job Search (beta) och Platsbanken.</li>
                        </ol>
                        <li>innebörden av eventuella felmeddelanden som API:et returnerar i någon av de tillgängliga operationerna. Operationer samt felmeddelanden finns angivna i antingen Tjänstebeskrivningen eller tekniska dokumentationen till Tjänsten.</li>
                        <li>att Auditloggning sker hos Arbetsförmedlingen av inkomna förfrågningar via API:et och att dessa bevaras i upp till 90 dagar. Säkerhetsloggar används av Arbetsförmedlingen för att förebygga och utreda säkerhetsincidenter.</li>
                    </ol>
                    <p>7.2.	För att säkerställa efterlevnaden av Avtalet och vid var tid gällande instruktioner och krav för Tjänsten har Arbetsförmedlingen rätt att i kontrollsyfte inhämta skriftligt underlag från Ansluten användare.
                        Arbetsförmedlingen har också möjlighet att kalla till möte för genomgång av Avtalets efterlevnad. Arbetsförmedlingen ska ta skälig tid i anspråk av Ansluten användare vid sådana uppföljningsaktiviteter och utföra uppföljningen med god framförhållning och på ett sätt som inte stör
                        dennes verksamhet i övrigt. Vardera av Arbetsförmedlingen och Ansluten användare ska bära sina egna kostnader för genomförande av kontroll enligt denna punkt.</p>
                    <p> 7.3.	Om det vid kontroll framkommer brister har Arbetsförmedlingen rätt att stänga av Anslutna användarens tillgång till Tjänsten (inbegripet API:et och API-innehåll) i enlighet med villkoren i detta Avtal.</p>

                    <h3>8. IMMATERIELLA RÄTTIGHETER OCH MARKNADSFÖRING</h3>
                    <p>8.1.	All kommunikation om, och marknadsföring av Ansluten användarens utvecklade produkter eller tjänster i vilka API:et används får inte ske på ett sätt som skadar eller riskerar att skada förtroendet för Arbetsförmedlingen eller den som publicera platsannonser i tjänsten Platsbanken.
                    <p>8.2.	Ansluten användare får inte använda Arbetsförmedlingens kännetecken i informations- och marknadsföringssyfte. Vid eventuell källhänvisning ska ordet ”Arbetsförmedlingen” och tjänsten ”Job Search (beta)” anges. Inget i Avtalet ska innebära att Ansluten användare tilldelas någon äganderätt eller nyttjanderätt till Arbetsförmedlingens firma eller kännetecken, varken under avtalstiden eller tiden därefter.
                    <p>8.3.	API-innehållet kan innefatta material och verk som tillhör tredje man och som skyddas av immateriella rättigheter, såsom upphovsrätt och varumärkesskydd, och vars nyttjande kan vara föremål för begränsningar enligt villkoren i de Allmänna villkoren för Arbetsförmedlingens tjänst Platsbanken eller på annat sätt.
                    <p>8.4.	API-innehåll som inte omfattas av punkten 8.3 ovan licensieras i den mån det är förenligt med vid var tid gällande immaterialrättsliga lagstiftning enligt villkoren i Creative Commons Erkännande-DelaLika (CC-BY-SA).

                    <h3>9. BEHANDLING AV PERSONUPPGIFTER</h3>
                    <p>9.1.	Genom att acceptera Avtalet samtycker Ansluten användare till att Arbetsförmedlingen behandlar de personuppgifter som lämnas till Arbetsförmedlingen vid anslutning till Tjänsten. Samtycket utgör den rättsliga grunden för Arbetsförmedlingens behandling av Anslutna användarens personuppgifter. Arbetsförmedlingen är personuppgiftsansvarig för behandlingen av Anslutna användarens personuppgifter och behandlar dessa personuppgifter i enlighet med gällande dataskyddslagstiftning (inklusive, men inte begränsat till, dataskyddsförordningen (EU) 2016/679, lagen (2018:218) med kompletterande bestämmelser till EU:s dataskyddsförordning, lagen (2002:546) om behandling av personuppgifter i den arbetsmarknadspolitiska verksamheten och förordning (2002:623) om behandling av personuppgifter i den arbetsmarknadspolitiska verksamheten).
                    <p>9.2.	Ansluten användarens personuppgifter kopplas till de API-nycklar som tillhandahålls. Personuppgifterna tillsammans med API-nycklarna gör det möjligt för Arbetsförmedlingen att identifiera en Ansluten användare i Tjänsten.
                    <p>9.3.	I samband med tillhandahållandet av Tjänsten behandlar Arbetsförmedlingen Anslutna användarens personuppgifter för följande ändamål:
                    <ol class="p">
                        <li>Utskick av API-nycklar;</li>
                        <li>Säkerställa att Ansluten användaren inte missbrukar Tjänsten genom att till exempel överbelasta anslutningen till Tjänsten;</li>
                        <li>Möjliggöra teknisk support vid användning av Tjänsten;</li>
                        <li>Skicka information till Ansluten användaren om förändringar i Tjänsten eller Avtalet;</li>
                        <li>Inhämtning av information om användarupplevelsen, det kan till exempel innebära att Arbetsförmedlingen skickar frågor om hur Ansluten användaren upplever att Tjänsten fungerar;</li>
                        <li>Uppföljning och kontroll avseende efterlevnaden av Avtalet och Arbetsförmedlingens gällande instruktioner avseende användningen av Tjänsten; och</li>
                        <li>Övrig kommunikation där Arbetsförmedlingen gör bedömningen att Ansluten användare har ett intresse eller ett behov av att ta del av informationen, det kan till exempel gälla information om nya API:er eller andra digitala tjänster som kan påverka Ansluten användarens produkter eller tjänster.</li>
                    </ol>
                    <p>9.4.	I all kommunikation med Ansluten användaren ska Arbetsförmedlingen sträva efter att förmedla så koncis och relevant information som möjligt till förmån för Ansluten användaren. Ansluten användaren ansvarar för att underrätta Arbetsförmedlingen om förändringar av kontaktuppgifter.</p>
                    <p>9.5.	Ansluten användarens personuppgifter behandlas endast av Arbetsförmedlingen. Personuppgifter som behandlas lämnas inte ut till tredje part och överförs inte till tredje land. Arbetsförmedlingen upphör att behandla Ansluten användarens personuppgifter för ovanstående ändamål i samband med att Användaren avslutar användningen av Tjänsten eller stängs av enligt villkoren i detta Avtal.
                    <p>9.6.	Tillhandahållandet av Tjänsten förutsätter att Arbetsförmedlingen har möjlighet att behandla personuppgifter på sådant sätt som anges i detta Avtal. Om Ansluten användare inte önskar att dennes personuppgifter ska behandlas på det sätt som anges i detta Avtal eller om Ansluten användaren önskar få sina personuppgifter raderade medför detta att denne inte längre kan använda Tjänsten. Ansluten användaren måste då avsluta sin användning genom att avregistrera sig från Tjänsten.
                    <p>9.7.	I enlighet med dataskyddslagstiftningen har Ansluten användare följande rättigheter:
                    <ol class="p">
                        <li>a)	Ansluten användaren har rätt att på begäran få information om de personuppgifter rörande denne som behandlas av Arbetsförmedlingen. Ansluten användaren har även rätt att begära rättelse eller radering av personuppgifterna samt begära en begränsning av behandlingen eller invända mot en behandling.</li>
                        <li>b)	Användaren har rätt att få ut de personuppgifter som Ansluten användaren har lämnat till Arbetsförmedlingen enligt detta Avtal i ett strukturerat, allmänt använt och maskinläsbart format och har rätt att överföra dessa uppgifter till en annan personuppgiftsansvarig.</li>
                        <li>c)	Ansluten användaren har rätt att vända sig till Datainspektionen för att lämna klagomål i de fall denne anser att Arbetsförmedlingen behandlar dennes personuppgifter i strid med dataskyddslagstiftningen. För mer information se Datainspektionens hemsida www.datainspektionen.se.</li>
                    </ol>
                    <p>Vid utövandet av ovanstående rättigheter bör Ansluten användaren i första hand kontakta Arbetsförmedlingen via länken ”Kontakta oss” som finns i Utvecklingsportalen.</p>

                    <h3>10. ANSVAR</h3>
                    <p>10.1.	Arbetsförmedlingen lämnar inte några utfästelser eller garantier avseende Tjänstens, API:ets eller API-innehållets kvalitet, korrekthet, säkerhet, tillförlitlighet, tillgänglighet eller prestanda. Detta gäller oavsett vad som framgår av Tjänstebeskrivningen eller andra upplysningar som förmedlas genom Utvecklingsportalen.
                    <p>10.2.	Ansluten användarens användning av Tjänsten (inbegripet API:et och API-innehållet) sker på egen risk och Arbetsförmedlingen ansvarar inte för några skador, direkta, indirekta, följdskador eller skadeståndsanspråk, som uppstår eller som beror på Tjänstens användning, tillgänglighet eller avbrott.
                    <p>10.3.	Ansluten användare åtar dig att hålla Arbetsförmedlingen, myndighetens samarbetspartners och anställda skadeslösa från eventuella krav från tredje man med anledning av dennes användning av Tjänsten, API:et eller API-innehållet i strid med detta Avtal.
                    <h3>11. ÄNDRINGAR</h3>
                    <p>11.1.	Arbetsförmedlingen förbehåller sig rätten att uppdatera och ändra Tjänsten (inbegripet API:et och API-innehållet). Det innefattar bland annat rätten att säga upp tillhandahållandet av Tjänsten samt lägga till eller ta bort begränsningar i användandet av API:er i Tjänsten. Information om förändringar av Tjänsten kommer att publiceras i Utvecklingsportalen. Arbetsförmedlingen ska sträva efter att informera om planerade och kommande förändringar av Tjänsten i god tid, om så är skäligt.
                    <p>11.2.	Arbetsförmedlingen har rätt att begränsa tillgängligheten till API:et eller API-innehållet i Tjänsten i den omfattning som är nödvändig på grund av utveckling, underhåll eller driftmässiga skäl. Arbetsförmedlingen ska sträva efter att minimera avbrottstiden och i största möjliga utsträckning informera Ansluten användaren om planerade avbrott.
                    <p>11.3.	Arbetsförmedlingen får besluta om tillägg och ändringar av Avtalet och Allmänna villkoren för Arbetsförmedlingens tjänst Platsbanken. De nya versionerna ska träda i kraft den dag som anges i beslutet. Arbetsförmedlingen ska, i Utvecklarportal, underrätta Anslutna användare om sådana villkorsändringar. Underrättelse behöver dock inte ske om ändringarna är av begränsad betydelse. Arbetsförmedlingen får genomföra omedelbara ändringar av villkoren om detta bedöms nödvändigt på grund av säkerhetsskäl, ny författningsreglering, beslut av domstol eller annan myndighet eller annat särskilt skäl. Efter att en ändring av villkoren har genomförts godkänner Ansluten användaren ändringen genom fortsatt användning av Tjänsten.
                    <h3>12. AVSTÄNGNING, AVREGISTRERING OCH UPPSÄGNING</h3>
                    <p>12.1.	Ansluten användaren kan när som helst avsluta användningen av Tjänsten eller API:et. Ansluten användaren kan när som helst, utan kostnad, skriftligen avregistrera sig från Tjänsten och säga upp Avtalet genom att kontakta Arbetsförmedlingen. En avregistrering innebär att Ansluten användaren säger upp Avtalet, återkallar sin begäran om anslutning eller återkallar sitt samtycke till behandling av personuppgifter. Efter genomförd avregistrering kommer Tjänsten och API-innehållet inte längre att vara tillgänglig för vidareanvändning.
                    <p>12.2.	Om Ansluten användaren agerar i strid med villkoren i Avtalet har Arbetsförmedlingen rätt att omedelbart, tillfälligt eller permanent stänga av eller begränsa åtkomsten till Tjänsten, API:et eller API-innehållet. Ansluten användaren ska snarast möjligt underrättas om avstängningen eller begränsningen samt skälen till denna.
                    <p>12.3.	Arbetsförmedlingen har även rätt att omedelbart säga upp ett Avtal om:
                    <ol class="p">
                        <li>Ansluten användaren i väsentlig mån eller vid upprepade tillfällen brister i förpliktelse enligt Avtalet och inte vidtar rättelse inom anvisat tid efter att Arbetsförmedlingen underrättat denne;</li>
                        <li>Ansluten användaren försätts i konkurs, inleder ackordsförhandlingar, inställer sina betalningar, ansöker om företagsrekonstruktion eller annars kan anses riskera att komma på obestånd;</li>
                        <li>Det framkommer att Ansluten användaren lämnat oriktiga uppgifter i det underlag som legat till grund för anslutning till API:et och dessa uppgifter har varit av icke oväsentlig betydelse vid anslutning till API:et.</li>
                    </ol>
                    <p>12.4.	Arbetsförmedlingen har rätt att, efter att ha anslagit förändringar, permanent eller tillfälligt upphöra med att tillhandahålla hela eller delar av Tjänsten, API:et eller API-innehållet. Arbetsförmedlingen har även rätt att säga upp ett Avtal om Ansluten användaren invänt mot en ändring, begränsning eller ett tillägg som beslutats enligt detta Avtal. Sådan uppsägning ska gälla från och med den dag då ändringen ska träda i kraft, om inte annat anges.
                    <p>12.5.	Arbetsförmedlingen får besluta att upphöra med att tillhandahålla Tjänsten och API:et genom att underrätta Ansluten användaren inom den i beslutet angivna tid för underrättelse. Om beslutet grundar sig i en ändring av de rättsliga förutsättningarna för att tillhandahålla API:et får Arbetsförmedlingen omedelbart upphöra med att tillhandahålla API:et, Arbetsförmedlingen ska skyndsamt underrätta Ansluten användaren om detta. Avtalet upphör att gälla från den dag Arbetsförmedlingen upphör med att faktiskt tillhandahålla Tjänsten och API:et. Detta sker genom att Arbetsförmedlingen stänger av all tillgång till det driftsatta API:et.
                    <p>12.6.	Om Ansluten användarens rätt att använda Tjänsten och API:et upphör är denne skyldigt att med omedelbar verkan avsluta och radera sin anslutning till API:et. Ansluten användaren ska även radera eventuella hänvisningar till Arbetsförmedlingen, som används i eller i samband med dennes produkter eller tjänster som har nyttjat API:et. Detsamma gäller även behandlingen av samtliga personuppgifter i API-innehållet som överförts till Anslutna användarens system genom API:et.
                    <h3>13. ÖVRIGA BESTÄMMELSER</h3>
                    <p>13.1.	Ansluten användare har inte rätt att överlåta sina rättigheter och skyldigheter under Avtalet.
                    <p>13.2.	Arbetsförmedlingens dröjsmål med att utöva en rättighet eller göra gällande en påföljd enligt Avtalet skall inte inverka på Arbetsförmedlingens möjligheter att senare utöva rättigheten eller göra gällande påföljden, med undantag för när myndigheten försitter häri angiven tidsfrist. Inte heller skall eftergift av Arbetsförmedlingens rätt med avseende på visst avtalsbrott innebära att Arbetsförmedlingen skall anses ha frånfallit rätten att beivra framtida brott mot sådan bestämmelse eller annan bestämmelse av samme eller annan Ansluten användare.
                    <p>13.3.	Om någon bestämmelse i detta Avtal, eller del därav, skulle befinnas ogiltig eller eljest inte kunna göras gällande skall detta inte få till följd att Avtalet i dess helhet är ogiltigt. I sådant fall skall Arbetsförmedlingen göra de jämkningar av Avtalet som skäligen är påkallade.
                    <p>13.4.	Avtalet ska i dess helhet vara underkastat svensk rätt utan hänsyn till lagvalsregler. Tvist angående tolkning eller tillämpning av Avtalet och därmed sammanhängande frågor ska avgöras av svensk allmän domstol med tillämpning av svensk rätt.</p>

                </div>

            </div>
            <div class="modal-footer">

                <button onclick="document.getElementById('approve_licence').removeAttribute('disabled'); if (!document.getElementById('approve_licence').checked){document.getElementById('approve_licence').click()};document.getElementById('approve_licence').setCustomValidity('')" id="agree" type="button" class="btn btn-primary" disabled data-dismiss="modal">Jag godkänner</button>
            </div>
        </div>
    </div>
</div>