@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap";
@import "https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap";
@import "https://fonts.googleapis.com/css?family=IBM Plex Mono";

.avtal {
    width:70%;
    margin-left: 80px;
    margin-top: 40px;
    margin-right: 100px;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 60px ;
}

ol.c {
    list-style-type: upper-roman;
}
ol.p {list-style-type: lower-latin;}


img {
    padding-top: 10px;
}


button {
    border-radius: 3px;
    background-color: #000;
    color:white;
    font-family: ibm plex mono,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol !important;

}

.btn-agree.disabled, .btn-agree:disabled {
    background-color: #000 !important;
    border-color: #808080;
    color:#9e9e9e;
    pointer-events: none !important;
}

.btn-agree.hover, .btn-agree:hover {
    background-color: #808080;
    border-color: #000;
}

.btn-agree {
    background-color: #000;
    border-color: #808080;
}


hr {
    border-color:#733ACA;
    width:10%;
    margin-top: 30px;
    margin-bottom: 30px;

}
h1 {
    font-size: 48px;
    line-height: 27px;
    margin-bottom: 35px;
    margin-top: 50px;
    font-weight: bold;
    font-family: Open Sans, sans-serif;
}

h2 {
    text-transform: uppercase;
}

h3 {
    margin-top: 25px;
}
body {
    background-color: white;
    color: black;
    font-family: ibm plex sans,sans serif;
    padding:1em;
    padding-bottom:2em;
}


#jobtech-logo svg {
    max-width:190px;
}

#appid{
    width:15px;
}


#approve{
    width:15px;
}

#approve_gdpr{
    width:15px;
}

#approve_licence{
    width:15px;
}

.api-check-area{
    background-color: #f7f7f7;
    border: solid 1px #808080;
    padding: 0.3em;
    margin-bottom: 1em;
}


.container{
    max-width: 100%;
    height: auto;

}
.site-button.outline.white:hover {
    color: #fff;
    background: none;
    border-radius: 2px;
    -webkit-border-radius: 1px;
    border-width: 2px;
    border-style: solid;
    border-color: #733ACA;
}

#box{
    margin: auto;
    width: 100%;
    border: 0 solid white;
    padding: 0;
}

#keystyle{
    font-size: 1vw;
}

.focus {
    text-align: center;
}
.flashes {
    color: red;
    border-radius: 2px;
}

.format {
    width:70%;
    margin-left: 80px;
    margin-top: 40px;
    margin-right: 100px;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 60px ;
}

ol.c {
    list-style-type: upper-roman;
}
ol.p {list-style-type: lower-latin;}

.registered-useremail {
    font-weight: bold;
    font-family: ibm plex mono,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol !important;
}